/* sign-container login과 join div가 담기는 부모 요소*/
.sign-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* login과 join에 적용된 div스타일 */
.sign-container-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 500px;
  background-color: rgba(245, 245, 245, 0.7);
}
/* title login, join에 적용된 font스타일 */
.sign-title {
  font-size: 50px;
  text-shadow: 0 0 10px #666;
  color: #fff;
  margin: 30px 0px;
  text-align: center;
  text-transform: capitalize;
}
.sign-subtitle {
  font-size: 14px;
  font-weight: 600;
  padding: 30px 0px;
}
/* login form이 담기는 부모요소 */
.sign-container-login {
  display: flex;
  flex-direction: column;
}
/* 아이디 찾기, 비밀번호 찾기 */
.forget-container {
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
}
.forget-container a {
  font-size: 13px;
  color: #7d5fff;
}
.forget-title label {
  font-size: 30px;
}
/* 소셜 로그인 */
.sns-login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sns-login-icon {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.sns-login-container img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}
/* 로그인 버튼 */
.sign-btn {
  width: 315px;
  height: 40px;
  background: #7d5fff;
  border: 2px solid #7d5fff;
  color: #fff;
  display: block;
  transition: 0.2s ease all;
}
.sign-btn:hover {
  border: 2px solid #7d5fff;
  background-color: white;
  color: #7d5fff;
}
/* join */
.sign-img {
  width: 300px;
  height: 40px;
  background-color: gold;
  margin-bottom: 30px;
}
/* header logo img */
.sign-header-img {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.sign-header-img img {
  width: 150px;
}

.sign-background-color {
  background: -webkit-linear-gradient(
    to right,
    #f1bfd4,
    #7358ee
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f1bfd4, #7358ee);
}

/* sign footer */
.sign-footer {
  padding: 30px;
}
.sign-footer > h2 {
  font-weight: lighter;
}

.vh-100 {
  height: 100vh;
}

.vh-bottom {
  position: absolute;
  bottom: 0px;
}
