input[id*="popup"]{
    display: none;
}
.gg{
   position: relative;
}
.popup-img{
    width: 70px;
    height: 70px;
}
input[id*="popup"] + label{
    /* 리모컨 */
    display: flex;
    position: fixed;
    padding: 5px 15px 5px 15px;
    background: #7d5fff;
    color: #fff;
    top: 60%;
    left: 85%;
    border-radius: 20px;
    height: 120px;
    cursor: pointer;
    border: 2px solid black;
    font-size: 20px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.popup-box{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}
.popup-content-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 900px;
    height: 700px;
    background: #fff;
    z-index: 2;
    border: 10px solid black;
    border-radius: 6px;
    padding: 20px 20px 20px 20px;
    display: flex;  
    justify-content: space-around;
    flex-wrap: wrap; 
    overflow: hidden;
}
input[id*="popup"] + label + div > label{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    z-index: 1;
}
input[id*="popup"] + label + div{
    opacity:0;
    visibility: hidden;
    transition: all 0.5s;
}
input[id*="popup"]:checked + label + div{
    opacity: 1;
    visibility: visible;
}
.popup-title-box{
    display: flex;
    flex-direction: column;
    position: fixed;
}
.popup-title{
    font-size: 50px;
    text-align: left;
    color: #7d5fff;
    font-weight: bold;
    margin-left: -30px;
    margin-top: 20px;
}
.move-popup-join{
    color:#7d5fff;
}

.popup-menu-list{
    background-color: #7d5fff;
    z-index: 100;
    height: 150px;
    width: 200px;
    margin-top: 20px;
    margin-left: -70px;
    position: fixed;
}
.popup-menu-list > li{
    display: flex;
    align-items: center;
    height: 45px;
}
.popup-menu-list li:hover {
    font-weight: 900;
}
.popup-menu-list a {
    color: white;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 10px;
}
.popup-flex-box{
    display: flex;
    justify-content: space-around;
}
.on{
    color:#000;
    font-weight: bold;
}
.popup-explan-content img{
    width: 480px;
    height: 640px;
    margin-top: 50px;
    margin-bottom: 25px;
}
.scroll{
    padding: 0px 13px 0px 13px;
    overflow-y: scroll;
    box-sizing: border-box;
    color: white;
    background-color: white;
    margin-right: 50px;
}
/* 스크롤바 설정*/
.type1::-webkit-scrollbar{
    width: 6px;
}

/* 스크롤바 막대 설정*/
.type1::-webkit-scrollbar-thumb{
    height: 17%;
    background-color: #7d5fff;
    /* 스크롤바 둥글게 설정    */
    border-radius: 10px;  
}

/* 스크롤바 뒷 배경 설정*/
.type1::-webkit-scrollbar-track{
    background-color: rgba(0,0,0,0);
}