.profile {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile > h1 {
  margin: 50px 0px;
  font-size: 30px;
  font-weight: 700;
}
.profile-form {
  padding: 30px 0px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 22px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-row-label {
  background-color: #7d5fff;
  color: white;
  border-radius: 5px;
  width: 250px;
  height: 25px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.profile-row-label > label {
  margin-left: 10px;
}
.profile-row {
  margin: 30px 0px;
  display: flex;
  flex-direction: column;
}

.profile__radio-time {
  display: flex;
  flex-direction: column;
}
.profile-row-checkbox {
  display: flex;
}

.profile-row-check > label {
  margin-right: 5px;
}
